<header
  class="w-screen bg-background border-b border-foreground-light/30 flex items-center justify-between gap-6 px-6 py-3"
>
  <div class="flex items-center gap-8">
    <a routerLink="/" class="hover:opacity-90">
      <app-logo size="md"></app-logo>
    </a>

    <div class="flex items-center gap-6">
      <a routerLink="/" class="">Home</a>
      <a routerLink="/about" class="">About</a>
      <a routerLink="/faq" class="">FAQ</a>
      <a routerLink="/contact" class="">Contact</a>
    </div>
  </div>

  <div class="flex items-center gap-4">
    <a routerLink="/register" class="cursor-pointer">
      <app-button variant="secondary" size="sm"> Sign Up </app-button>
    </a>
    <a routerLink="/login" class="cursor-pointer">
      <app-button variant="primary" size="sm"> Log In </app-button>
    </a>
  </div>
</header>
